@media screen and (max-width: 500px) {    
    .nav-main{
        width: 100%;
        max-width: 100%;
        padding: 1% 5%;
        padding-right: 10%;
    }

    .nav-img img{
        width: 100px;
    }

    .user-menu{
        left: unset;
        right: 0;
    }

    .home-content{
        padding: 8% 6%;
    }

    .home-buttons{
        flex-direction: column;
        width: 100%;
    }

    .butt-main, .butt-sub{
        text-align: center;
    }

    .popup-details{
        grid-template-columns: none;
        grid-template-rows: auto;
        gap: 5rem;
    }

    .popup-modal-wrapper{
        height: 93%;
        overflow: scroll;
        position: fixed;
    }

    .form-content{
        padding: 2% 1% !important;
    }

    .booking-form{
        width: 80%;
    }

    .msg-box{
        width: 80%;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
    }

    .popup-modal{
        width: 100%;
    }

    .hall-image{
        width: 95%;
        object-fit: cover;
    }

    .venue-card{
        gap: 2rem
    }

    .venue-calendar{
        height: 20rem;
    }
}